.display-icon {
  max-width: 100px;
}

.container-of-display-icon {
  width: fit-content;
}

.offer-item-1,
.offer-item-2,
.offer-item-3 {
  box-shadow: 1px 1px 5px gray;
  flex: 1;
  transition: transform 0.5s;
}

.offer-item-1:hover,
.offer-item-2:hover,
.offer-item-3:hover {
  cursor: pointer;
  transform: scale(105%);
}

.notification {
  position: fixed;
  bottom: 0;
  margin: 2em;
  padding: 0.5em;
  font-size: 0.85rem;
  max-width: 300px;
  border: 1px solid #ff9db0;
  background: rgba(255, 157, 176, 0.4);
  border-radius: 10px;
  display: none;
  transition: display 0.5s;
  z-index: 5;
}

h5 {
  width: fit-content;
}

@media screen and (max-width: 760px) {
  .flex-items-offer {
    flex-direction: column;
  }
}
